@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .float-circle {
        @apply absolute rounded-full border-4 border-[#54D2E8]/30;
    }

    .circle-1 {
        width: 80px;
        height: 80px;
        top: 15%;
        left: 10%;
        animation: floatCircle 18s ease-in-out infinite;
    }

    .circle-2 {
        width: 60px;
        height: 60px;
        top: 70%;
        left: 15%;
        animation: floatCircle2 15s ease-in-out infinite;
        animation-delay: 2s;
    }

    .circle-3 {
        width: 100px;
        height: 100px;
        top: 25%;
        right: 12%;
        animation: floatCircle 20s ease-in-out infinite;
        animation-delay: 4s;
    }

    .circle-4 {
        width: 70px;
        height: 70px;
        bottom: 15%;
        right: 20%;
        animation: floatCircle2 16s ease-in-out infinite;
        animation-delay: 6s;
    }

    .circle-5 {
        width: 90px;
        height: 90px;
        top: 50%;
        left: 8%;
        animation: floatCircle 22s ease-in-out infinite;
        animation-delay: 3s;
    }

    .circle-6 {
        width: 65px;
        height: 65px;
        top: 60%;
        right: 10%;
        animation: floatCircle2 17s ease-in-out infinite;
        animation-delay: 5s;
    }
}

@keyframes floatCircle {

    0%,
    100% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(20px, -30px);
    }

    66% {
        transform: translate(-15px, 15px);
    }
}

@keyframes floatCircle2 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(-25px, 20px);
    }

    66% {
        transform: translate(15px, -25px);
    }
}